/* Estilos para etiquetas de formulario */

h1{
    text-align: center;
}

form{
    width: 500px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilos para campos de entrada de formulario */
  form input[type="text"],
  form input[type="number"],
  form input[type="date"],
  form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilos para botones de formulario */
  form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para mensajes de error de formulario */
  form .error-message {
    color: red;
    margin-top: 5px;
  }