{% extends './layouts/base.html' %}


{% block content%}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/list_player.css' %}">
</head>
<h1>{{liga.name}}</h1>
<img src="{{ liga.foto.url }}" alt="{{ liga.name }} - Foto"> 
    <table>
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Director</th> 
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
            <tr>
                <td><a href="{% url 'equipo_detail' equipo.id %}">{{ equipo.name }}</a></td>
                <td>{{ equipo.directores }}</td>
                <td><img src="{{ equipo.foto.url }}" alt="{{ equipo.name }} - Foto"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}